body {background-color: #262626; 
		color: #262626;
		float: left;
		overflow: auto}
body.links {background-image: url(images/richmond.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			color: #262626;}
h1 {color: #61abb8;
	font-family: Georgia, serif;
	text-align: center;
	line-height: 100%;
	font-size: 300%;
	padding-bottom: 7px;
	border-bottom: 2px solid #61abb8}
h2 {background-color: #f15b40;
	color: #262626;
	font-family: Georgia, serif;
	padding: 5 px;
	padding-top: 5 px}
h3 {color: #000033;
	font-family: Georgia, serif;
	text-decoration: underline;}
h4 {color: #000033;
	font-family: Georgia, serif;}
nav {text-align: center;
	 float: left;
	 width: 300px;}
nav ul {list-style-type: none;
		margin: 0;
		padding: 0}
nav a {text-decoration: none;
	   padding: 20 px;
	   display: block;
	   border-bottom: 10px;
	   padding: 10px;
	   font-family: Georgia, serif;
	   font-weight: bold}
nav a:link {color: #262626}
nav a:visited {color: #262626}
nav a:hover {color: #61abb8;
			 background-color: #262626}
footer {position:fixed;
		left:10px;
		bottom:0px;
		height:30px;
		width:100%;
		font-family:"Arial Black", Gadget, sans-serif;
		font-size: 0.75em;
		line-height: 0;
		border: 1px double #f15b40;
		background-color: #ffffff}
img {float: right;
	 padding-bottom: auto;
	 border-bottom: 2px double #f15b40}
table {margin: 5px;
	 border: 5 px solid #000033;
	 text-align: center;
	 border-spacing: 0;}
caption {font-family: Georgia, serif;
	   font-weight: bold;
	   font-size: 1em;
	   padding-bottom: 0.5:}
th, td {border-style: none;
	  padding: 0.5 em;}
.altrow {background-color:#eaeaea;}
.altcell {text-align: left}
.intro {font-style: italic;
		text-align: center}
.text {font-family: "Times New Roman", Times, serif;}
#wrapper {margin-left: auto;
		  margin-right: auto;
		  width: 80%;
		  min-width: 1200px;
		  max-width: 1400 px;
		  background-color: #ffffff;
		  color: #262626;
		  padding-bottom: 230px;
		  padding-right: 10px}
#rightcol {margin-left: 301px;
		   background-color: #ffffff}